# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*
.env*.local

# vercel
.vercel

# netlify
.netlify
netlify.toml

# docs e scripts
*.md
*.bat
gov.br*
nginx-*.conf
scripts/cnh-tenant-manager.py
scripts/hab-routes-updated.js
scripts/manage-tenant.sh

# typescript
*.tsbuildinfo
next-env.d.ts
